---
# Only the main Sass file needs front matter (the dashes are enough)
---
$link-color: #a45254;
$body-color: #0000ff;
$background-color: #e8d2d2;
$text-color: black;
$masthead-link-color: #a45254;
$masthead-background-color: #e8d2d2;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
