---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/lotus_stock1.jpg
excerpt: '**Bringing mind and body together**'
feature_row:
  - image_path: /assets/images/reiki_stock1.jpg
    alt: "Photo of a woman lying down receiving Reiki"
    title: "Schedule a Session"
    excerpt: 'Click here to schedule a session!'
    url: "https://www.lotusblossomreiki.com/booking"
    btn_label: "Schedule a Session"
    btn_class: "btn--primary"
  
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}