---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/lotus_stock1.jpg
excerpt: '**Bringing mind and body together**'
feature_row:
  - image_path: /assets/images/reiki_stock1.jpg
    alt: "Photo of a woman lying down receiving Reiki"
    title: "Schedule a Session"
    excerpt: 'Click here to schedule a session!'
    url: "https://lotusblossomreiki.simplybook.me/v2/#book"
    btn_label: "Schedule a Session"
    btn_class: "btn--primary"
  
---

Does this sound familiar? Your mind is a constant whirlwind, your to-do list never ends, and true peace feels just out of reach. Even in rare moments of downtime, you find that you can’t truly relax, and instead you’re doomscrolling or puttering around the house.     

Trust me, I get it. As a self-professed “anxious girlie,” this description fits me to a T. Reiki became a powerful tool in my toolbox to help me manage the chaos and show up as my most authentic, grounded self.   

Many of my clients navigate anxiety, OCD, CPTSD, ADHD, chronic pain, and/or disability. This is a space to finally release the accumulated tension and invite more calm and ease into their lives.   

If this resonates with you, I’d love to help. Together, we can co-create a haven of calm for your nervous system, without even leaving the comfort of your home.   


{% include feature_row id="intro" type="center" %}

{% include feature_row %}


